.full {
    margin: 0;
    display: grid;
    grid-template-columns: 2fr 4fr;
}
.left {
    position: initial;
    background-color: aquamarine;
    padding: 20px;

}

.right {
    position: initial;
    background-color: lightgray ;
    padding: 20px;
}